//!background colors
$bodybgcolor: #ebebeb;
$bgcolor: #fff;


//Text
$textcolor: #333;
$white: #fff;

//!the reds		
$red: #c0392b;
$lightred: #fce9e8;

//gredn

$pastelred: #ecc3bf;
$lgtpastelred: #f2d7d5;

//!the blues	
$darkblue: #34495e;
$paleblue: #6b7988;
$lightblue: #709ecc;
$bgblue: #eaf1f7;
$pastelblue: #c2e0f4;
$lgtpastelblue: #e0eff9;

//greys			
$greyblue: #dae3e4;
$darkgreyblue: #6d6d6d;
$lightgrey: #ebebeb;
$darkergrey: #dedede;
$darkgrey: #6d7073;
$bordergrey: #bdc3c7;
