@import "../fonts/font-awesome/scss/font-awesome.scss";
@import "../fonts/fontastic/styles.scss";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
$fonts: "Lato", sans-serif;
$serif: "Georgia", serif;
$ult-bold: 900;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$normal: 400;
$light: 300;
