// ICONS

.icon-sea {
  background: url("../images/icon-sea.svg") no-repeat center;
}

.icon-river {
  background: url("../images/icon-river.svg") no-repeat center;
}

.icon-helicopter {
  background: url("../images/icon-helicopter.svg") no-repeat center;
}

.icon-port {
  background: url("../images/icon-port.svg") no-repeat center;
}

.icon-airport {
  background: url("../images/icon-airport.svg") no-repeat center;
}

.icon-fuel {
  background: url("../images/icon-fuel.svg") no-repeat center;
}

.icon-map {
  background: url("../images/icon-map.svg") no-repeat center;
}

.icon-storage {
  background: url("../images/icon-storage.svg") no-repeat center;
}
